<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Customer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%=addexereq_path%>"> Add requirement </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%=rooms_path%>">Chat </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">????????2</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="<%= destroy_usercustomer_session_path %>">Exit</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Contacts</a></li>
            <li><a class="dropdown-item" href="<%= addcusinfo_path %>">Add info about you</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">For questions and suggestions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        email:rusugarov@gmail.com
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<% k = 1 %>
<h3>View executor</h3>

<a id="MMM" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Contacts</a>

  <table class = "table table-hover">
    <thead class ="thead-dark">
      <tr>
        <th>Number</th>
        <th>User</th>
        <th>full_name</th>
        <th>inn</th>
        <th>number</th>
        <th>website</th>
      </tr>
    </thead>

    <tbody>
    
    <% k = 1 %>
    <%@usersexe1.each do |user|%>
      <tr onclick="window.location.href = '<%= addexeinfo_path %>'; return false">
        <td><%= k %></td>
        <td><%= user.email %></td>
        <td><%= user.full_name %></td>
        <td><%= user.inn %></td>
        <td><%= user.number %></td>
        <td><%= user.website %></td>
      </tr>
      <% k += 1 %>
    <% end%>
    </tbody>
  </table>









  </body>
</html>
